[submodule "bundle/darkmirror"]
	path = bundle/darkmirror
	url = https://github.com/kniren/darkmirror.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/lustyJuggler"]
	path = bundle/lustyJuggler
	url = git://github.com/vim-scripts/LustyJuggler.git
